<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.api.admin.dao.BlueStarApplyOfMapper">
      <insert id="addApplyOf" parameterType="com.xxl.api.admin.core.model.BlueStarApplyfrom">
             INSERT INTO xxl_api_applyof 
             <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="id != null">
				id,
			</if>
			<if test="applyOfName != null">
				apply_of_name,
			</if>
			<if test="applyOfProjectName != null">
				apply_of_project_name,
			</if>
             <if test="applyOfPort != null">
				apply_of_port,
			</if>
			<if test="applyOfDate != null">
				apply_of_date,
			</if>
			<if test="applyOfStatus != null">
				apply_of_status,
			</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
            <if test="applyOfName != null">
				#{applyOfName,jdbcType=VARCHAR},
			</if>
			 <if test="applyOfProjectName != null">
				#{applyOfProjectName,jdbcType=VARCHAR},
			</if>
			 <if test="applyOfPort != null">
				#{applyOfPort,jdbcType=VARCHAR},
			</if>
			 <if test="applyOfDate != null">
				#{applyOfDate,jdbcType=TIMESTAMP},
			</if>
			 <if test="applyOfStatus != null">
				#{applyOfStatus,jdbcType=VARCHAR},
			</if>
            </trim>
       </insert>
	<update id="updataAgreement" parameterType="com.xxl.api.admin.core.model.BlueStarApplyfrom" >
				UPDATE xxl_api_applyof c
				SET
					c.apply_of_status = #{applyOfStatus,jdbcType=CHAR}
				WHERE 
				c.id =#{id,jdbcType=VARCHAR}
	</update>
	

</mapper>