<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.api.admin.dao.XxlApiApplyDao">
       <insert id="addApplyOf" parameterType="com.xxl.api.admin.core.model.XxlApplyfrom" useGeneratedKeys="true" keyProperty="ID" >
             INSERT INTO xxl_api_applyof (
                    ApplyOfName,
                    ApplyOfProjectName,
                    `ApplyOfPort`,
                    ApplyOfDate,
                `ApplyOfStatus`
             ) VALUES (
                    #{ApplyOfName},
                    #{ApplyOfProjectName},
                    #{ApplyOfPort},
                    #{ApplyOfDate},
                    #{ApplyOfStatus}
             );
       </insert>
</mapper>