<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.xxl.api.admin.dao.BlueStarAuthorMapper">
			      <sql id="Base_Column_List">
			            id,applyof_id,auditor,biz_coment,apply_date,audit_status
			      </sql>
      <insert id="insertAudit" parameterType="com.xxl.api.admin.core.model.BlueStarAuditDTO" >
				INSERT INTO xxl_api_audit_log 
					<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="id !=null">
						id,
					</if>
					<if test="applyofId != null">
						applyof_id,
					</if>
					<if test="auditor != null">
						auditor,
					</if>
					<if test="bizComent != null">
						biz_coment,
					</if>
					<if test="applyDate != null">
						apply_date,
					</if>
					<if test="auditStatus != null">
						audit_status,
					</if>
					</trim>
					<trim prefix="values (" suffix=")" suffixOverrides=",">
						<if test="id !=null">
						#{id,jdbcType=VARCHAR},
						</if>
						<if test="applyofId !=null">
						#{applyofId,jdbcType=VARCHAR},
						</if>
						<if test="auditor != null">
						#{auditor,jdbcType=VARCHAR},
						</if>
						<if test="bizComent != null">
						#{bizComent,jdbcType=VARCHAR},
						</if>
						<if test="applyDate != null">
						#{applyDate,jdbcType=TIMESTAMP},
						</if>
						<if test="auditStatus != null">
						#{auditStatus,jdbcType=CHAR},
						</if>
					</trim>
			</insert> 
			<select id="getAllAuthor" parameterType="com.xxl.api.admin.core.model.BlueStarAuditDTO" resultType="com.xxl.api.admin.core.model.BlueStarAuditDTO">
						SELECT 
						    <include refid="Base_Column_List" /> 
						FROM 
						    xxl_api_audit_log
						WHERE 
						    1=1
						<if test="id!=null">
							and id=#{id}
						</if>
						<if test="auditor!=null and auditor!=''">
							and auditor like concat('%', #{auditor}, '%')
						</if>
						<if test="auditStatus!=null">
							and audit_status=#{auditStatus}
						</if>
						<if test="applyofId!=null">
							and applyof_id=#{applyofId}
						</if>
			</select>
</mapper>